.DS_Store
data/seoul_crime/2000년.csv
data/seoul_crime/2001년.csv
data/seoul_crime/2002년.csv
data/seoul_crime/2003년.csv
data/seoul_crime/2004년.csv
data/seoul_crime/2005년.csv
data/seoul_crime/2006년.csv
data/seoul_crime/2007년.csv
data/seoul_crime/2008년.csv
data/seoul_crime/2009년.csv
data/seoul_crime/2010년.csv
data/seoul_crime/2011년.csv
data/seoul_crime/2012년.csv
data/seoul_crime/2013년.csv
data/seoul_crime/2014년.csv
data/seoul_crime/2015년.csv
data/seoul_crime/2016년.csv
data/seoul_crime/2017년.csv
.DS_Store
